extends layout.pug

block content
  nav.nav
    a(href='/')
      span &larr;
      |  Back
  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Josh Seltzer
        p Full Stack Front-End Developer
        .about-bio
          p Finance, Web Development, Crypto, all you need.
      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Finance
          li Crypto
          li GraphQL
          li Node.js
          li SQL
        h6 Contact Info
        ul
          li 123-456-7890
          li email@example.com
        a.btn-link(href='https://www.linkedin.com/in/seltzerjosh/') LinkedIn
        a.btn-link(href='https://github.com/seltzerjosh') GitHub
    nav.nav
      a(href='/')
        span &larr;
        |  Back