extends layout.pug
block content
  article.portfolio-intro
    h1 Portfolio
    p Web projects
  article.portfolio-project-thumbs
    .projects-box.box.grid
    .cell
    each  project in projectList
        a(href=`/project/${project.id}`)
            each pic in project.image_urls
                - regex = /.+main.+/;
                if regex.test(pic)
                    img.thumbnail(src=`/static/${pic}`, alt=`${project.project_name}`)
            h5 #{project.project_name}